a {
  color:#11B1F8;
  text-decoration:none;
}
p,
pre {
  margin:10px 0;
  display:block;
  font-size:12px;
  font-family:Arial;
}
a.algo,
span.algo {
  background:url(../images/chrome/throbblers/algo_small.png) 0 50% no-repeat;
  padding-left:12px;
}
h2 span.algo {
  background-image:url(../images/chrome/throbblers/algo_large.png);
  background-position:0 50%;
  background-repeat:no-repeat;
  padding-left:20px;
}
h2 {
  background-color:#B2352E;
  display:inline-block;
  padding:3px;
  color:#fff;
  letter-spacing:4px;
  font-weight:bold;
  font-size:15px;
  margin-bottom:30px;
  text-transform:uppercase;
}
h2 a {
  color:#fff;
}
h2 a:hover {
  color:#fff;
}
h3, h4 {
  font-weight:bold;
  text-transform:uppercase;
  color:#fff;
}
h3 {
  margin:30px 0 10px;
  font-size:14px;
}
h4 {
  margin:0 0 5px 0;
  font-size:12px;
}
blockquote {
  background:#464646;
  font-weight:bold;
  font-size:14px;
  text-transform:uppercase;
  padding:5px;
  display:block;
  margin:20px 0;
  color:#fff;
  font-style:normal;
  clear:both;
  line-height:19px;
}
.contents ul li {
  background:url(../images/chrome/throbblers/circle_bullet.png) 0 1px no-repeat;
  padding:0 0 20px 18px;
}
.contents ul ul {
  margin-top:10px;
}
ul.picture_driven,
ul.picture_driven li {
  overflow:hidden;
  zoom:1;
}
ul.picture_driven li .picture,
ul.picture_driven li .caption {
  float:left;
}
ul.picture_driven li {
  clear:both;
  padding:20px 0;
}
ul.picture_driven .picture {
  width:135px;
  margin-right:10px;
}
ul.picture_driven .picture img {
  max-width:130px;
}
ul.picture_driven .caption {
  width:445px;
}
ul.picture_driven .caption ul li {
  background:url(../images/chrome/throbblers/dash_bullet.png) 0 8px no-repeat;
  padding:0 0 0 8px;
}
img.bordered {
  border:3px solid #2B2B2B;
}
