.home h2 {
  display:none;
}
.home p:first-child {
  margin-top:0;
}
.picture_left {
  overflow:hidden;
  zoom:1;
}
.picture_left .picture,
.picture_left .caption {
  float:left;
}
.picture_left .picture {
  width:384px;
  text-align:center;
}
.picture_left .picture img {
  max-width:384px;
  display:block;
}
.picture_left .caption {
  width:246px;
  padding:15px;
  background:#3C3E3D;
  opacity:0.8;
  min-height:237px;
}
.picture_left .caption p:first-child,
.picture_left .caption h3:first-child {
  margin-top:0
}
.picture_left .caption h3 {
  text-transform:none;
  font-size:15px;
}
.picture_left .caption p {
  font-weight:bold;
  font-size:13px;
}
.picture_left .caption p.loud {
  margin-top:30px;
}
.picture_left .caption li {
  font-size:13px;
}

#contact .col {
  width:49% !important;
}
#contact form label {
  display:block;
  margin-top:5px;
  padding-left:3px;
  font-weight:normal;
}
#contact form input,
#contact form textarea {
  width:285px;
  display:block;
}
#contact form textarea {
  width:277px;
  height:190px;
}
#contact form input[type="submit"] {
  width:122px;
  height:23px;
  border:0;
  background:url(/images/chrome/buttons/submit.png) top left no-repeat;
  text-indent:-9999em;
  margin-top:10px !important;
}
#contact small a {
  color:#11B1F8 !important;
}
