.home h2 {
  display:none;
}
.home p:first-child {
  margin-top:0;
}
.picture_left {
  overflow:hidden;
  zoom:1;
  background:#3C3E3D;
  opacity:0.8;
}
.picture_left .picture,
.picture_left .caption {
  float:left;
}
.picture_left .picture {
  width:384px;
  text-align:center;
}
.picture_left .picture img {
  max-width:384px;
  display:block;
}
.picture_left .caption {
  width:266px;
  padding:15px;
}
.picture_left .caption p:first-child,
.picture_left .caption h3:first-child {
  margin-top:0
}
.picture_left .caption p {
  font-weight:bold;
}
