/* Header */
h1 a {
  background:url(/images/features/headerfooter/logo.png) 0 0 no-repeat;
  display:block;
  text-indent:-9999em;
  width:299px;
  height:72px;
}

/* Footer */
#footer {
  font-size:11px;
  padding:5px;
  margin:45px 0;
  border-top:1px solid #464646;
}
#footer span,
#footer span a {
  color:#8A2824;
  display:inline-block;
  padding:0 6px;
}
