/* Header */
h1 a {
  background:url(/images/features/headerfooter/logo.png) 0 0 no-repeat;
  display:block;
  text-indent:-9999em;
  width:358px;
  height:106px;
}

/* Footer */
#footer {
  padding:5px;
  margin:45px 0;
  border-top:1px solid #464646;
}
#footer p {
  font-size:11px;
  color:#888;
}
#footer p:last-child {
  color:#fff;
}
#footer span,
#footer span a {
  color:#8A2824;
  display:inline-block;
  padding:0 6px;
}

#log_out_link {
  position:absolute;
  top:0;
  right:0;
  font-size:10px;
  color:#fff;
}
