body {
  background:#000 url(/images/chrome/backgrounds/body_background.jpg) 50% 0 no-repeat;
  font-family:Arial;
  color:#fff;
  margin:0;
}
#wrapper {
  margin-top:25px;
}
.header {
  margin-bottom:55px;
}
