.widget_pages a.parent,
.sidebar .widget h3 {
  text-transform:uppercase;
  padding-top:5px;
  margin-bottom:7px;
  border-top:3px solid #747273;
  cursor:default;
  font-weight:bold;
  font-size:14px;
}
/* Space between categories */
.widget_pages li.parent {
  padding-bottom:30px;
}
/* Generic widget links */
.widget a {
  color:#fff;
  text-transform:uppercase;
  text-decoration:none;
  display:block;
}
/* Children links */
.widget .xoxo a,
.widget .children a {
  font-size:11px;
  padding-top:4px;
  padding-bottom:4px;
  border-bottom:1px solid #fff;
}
/* Don't show generic "PAGES" h3 */
.sidebar .widget_pages h3 {
  display:none;
}
/* Don't show bullets */
.widget {
  list-style:none;
}
/* Active items */
.widget .current_page_item a {
  background:#B2352E;
  font-weight:bold;
}
/* Constrict the search textfield size */
.widget input[type="text"] {
  width:70%;
}
